# Python
__pycache__/
*.pyc

# Virtual environment
venv/
env/

# Streamlit
.streamlit/

# Jupyter
.ipynb_checkpoints/

# Data files
data/raw/
data/processed/

# Model files
*.pkl
*.joblib

# OS files
.DS_Store